.cardPagePhoto
    min-width: 712px
    height: 356px
    width: 100%
    margin-bottom: -200px
    background-color: #343a40
    background-image: url("//www.gstatic.com/mobilesdk/190805_mobilesdk/woman-at-desktop@2x.png"),url("//www.gstatic.com/mobilesdk/190805_mobilesdk/man-at-desktop@2x.png")
    background-size: 400px auto, 400px auto
    background-position: left -70px bottom -75px,right -50px bottom -50px
    background-repeat: no-repeat
